
.schedule-rows td {
  width: 80px;
  height: 30px;
  margin: 3px;
  padding: 5px;
  background-color: #3498DB;
  cursor: pointer;
}

.schedule-rows td:first-child {
  background-color: transparent;
  text-align: right;
  position: relative;
  top: -12px;
}

.schedule-rows td[data-selected],
.schedule-rows td[data-selecting] { background-color: #E74C3C; }

.schedule-rows td[data-disabled] { opacity: 0.55; }

thead th {
  position: sticky;
  top: 0;
  background-color: #f4f4f4;
  z-index: 10;
}
/*
table {
  width: 50%;
  border-collapse: collapse;
}
th, td {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
}
input {
  width: 90%;
  text-align: center;
  border: none;
}
  */

  .sync-status {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 14px;
    transition: opacity 0.5s;
    z-index: 1000;
}

.sync-status.syncing {
    background-color: #f0f0f0;
    color: #333;
}

.sync-status.success {
    background-color: #d4edda;
    color: #155724;
}

.sync-status.error {
    background-color: #f8d7da;
    color: #721c24;
}
.sync-status.warning {
  background-color: #fff3cd;
  color: #856404;
}

.sync-status.info {
  background-color: #fff3cd;
  color: #1d2e7e;
}
    #notificaciones {
      position: fixed;
      top: 10px;
      right: 10px;
      max-width: 300px;
    }
    .notificacion {
      background: #444;
      color: white;
      padding: 10px;
      margin: 5px 0;
      border-radius: 5px;
      animation: fadeOut 5s forwards;
    }
    @keyframes fadeOut {
      0% {opacity: 1;}
      80% {opacity: 1;}
      100% {opacity: 0; transform: translateY(-20px);}
    }

.tabs {
      display: flex;
      margin-bottom: 1rem;
    }

    .tab {
      padding: 10px 20px;
      cursor: pointer;
      background: #eee;
      border: 1px solid #ccc;
      border-bottom: none;
      margin-right: 5px;
    }

    .tab.active {
      background: #fff;
      font-weight: bold;
    }

    .tab-content {
      border: 1px solid #ccc;
      padding: 20px;
      display: none;
    }

    .tab-content.active {
      display: block;
    }

  .diasPreselecionados {
  position: sticky;
  top: 0;
  z-index: 1000;
  background: #fff; /* O el color de fondo de tu página */
  padding: 10px 0;
}

